{% extends "base.jinja" %}
{% block title %}Frekwencja{% endblock %}
{% block page_title %}Frekwencja{% endblock %}
{% block content %}

{% include 'seasons/season_section.jinja' %}

{% if seasons %}
  {% include 'shared/musician_table.jinja' %}
{% endif %}

{% endblock %}
