{% extends "base.jinja" %}

{% block title %}Rejestracja{% endblock %}
{% block page_title %}Rejestracja{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <p>Wypełnij poniższy formularz rejestracyjny.</p>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary my-5">Zarejestruj się</button>
    </form>
{% endblock %}  