{% extends "base.jinja" %}

{% block title %}Profil użytkownika{% endblock %}
{% block page_title %}Profil użytkownika{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card mb-3 bg-light">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            {% if profile.photo %}
                <div class="mb-3">
                    <img src="{{ profile.photo.url }}" alt="Zdjęcie profilowe" class="img-thumbnail" width="150">
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="birthday" class="form-label">Data urodzenia*</label>
                <input type="date" class="form-control" id="birthday" name="birthday" value="{{ profile.birthday|date:'Y-m-d' }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>
    </div>
</div>
{% endblock %}